@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">"Greetings and thank you for visiting the Administrative Management System! Empowering you to efficiently manage, create, and innovate with ease. Let's streamline your administrative tasks together!"</h1>
    <p>"Code is the canvas where your ideas come to life. Every bug you fix, every problem you solve, brings you one step closer to creating something extraordinary."</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
